.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact{
    align-self: center;
    background: green;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
    color: white;
}