body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.form-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input, textarea {
  width: 100%;
  padding: 15px 20px;
  font-size: 18px;
}