body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: radial-gradient(ellipse at center, #a90329 0%,#a5041f 28%,#6d0019 100%);
}

form {
  display: flex;
  flex-direction: column;
}

input, textarea {
  padding: 15px 20px;
  font-size: 18px;
  margin: 10px 20px;
  border-radius: 5px;
  border: 1px solid #afafaf;
}

button {
  background: green;
  border-radius: 5px;
  color: white;
  padding: 15px 20px;
  font-size: 18px;
  border: none;
  margin: 10px 20px;
}

h1, h2, h3, h4 {
  color: white;
}